#menu_top .container-menu {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 50px;
    color: var(--secondary);
    font-weight: 600;
    z-index: 1;
}
#menu_top .logo {margin-left: 1rem;}
#menu_top .cart-logo {margin-right: 1rem;}
#cart_quantity {
    position: relative;
    display: inline-block;
    top: -10px;
    font-size: 1rem;
    background-color: tomato;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: var(--light);
}
.item-added {
    animation: cart_elem_added 0.3s;
}
@keyframes cart_elem_added {
    0% { transform: scale(1) }
    25% { transform: scale(2) }
    50% { transform: scale(3) }
    75% { transform: scale(2) }
    100% { transform: scale(1) }
}
@media(min-width: 1000px) {
    #menu_top .logo {margin-left: 3rem;}
    #menu_top .cart-logo {margin-right: 3rem;}   
}