#menu_top .container-menu {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 50px;
    color: var(--secondary);
    font-weight: 600;
    z-index: 1;
}
#menu_top .logo {margin-left: 1rem;}
#menu_top .cart-logo {margin-right: 1rem;}
#cart_quantity {
    position: relative;
    display: inline-block;
    top: -10px;
    font-size: 1rem;
    background-color: tomato;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: var(--light);
}