#menu_burgers {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
.container-burgers {
    width: 100%;

}
.category-selector {
    width: 50%;
    margin: 0 auto;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}
.category-selector button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 1px 1px 5px 1px #ccc;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px 0;
    transition: all ease 0.2s;
}
.category-selector button:hover {
    cursor: pointer;
    
}
.active-selector {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    transform: scale(1.1);
}
.list-burgers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.burger {
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 1px 1px var(--light);
    border-radius: 50px;
    position: relative;
}
.burger-img img{
    width: 100%;
}
.burger-info {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 2%;
    color: var(--dark);
    font-weight: 600;
}
.burger-info h3 {
    color: var(--secondary);
}
.burger-info span {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 5px;
    color: var(--light);
}
.actions {
    color: var(--primary);
    font-size: 2rem;
    position: relative;
    top: -20px;
    text-align: center;
}
.actions i {transition: all ease 0.2s;}
.actions i:hover {cursor: pointer; color: var(--secondary) !important;}
/* @media(min-width: 1000px) {
    .burger {
        width: 400px;
    }
}
@media(min-width: 1366px) {
    .burger {
        width: 500px;
    }
}
@media(min-width: 1500px) {
    .burger {
        width: 600px;
    }
} */