* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
:root {
    --primary: #fed049;
    --secondary: #007580;
    --dark: #282846;
    --light: #d8ebe4;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.mask {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 2;
    opacity: 0;
    transition: all ease-in 0.2s;
}
.show {
    opacity: 1 !important;
}